
  @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;

}
body{
    background-color: #030303;
}
.header{
    display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 15px;
width: fit-content;
margin: 0 auto;
margin-top: 3rem;
}
.header div > img{
    max-width: 78px;
}
.header div> span{
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 19px;
/* identical to box height */


color: #11D000;
}
.header div > h1{
    font-style: normal;
font-weight: 700;
font-size: 35px;
line-height: 41px;
/* identical to box height */


color: #F1FAFF;
}
.body_cntent{
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 70vh;
    background-image: url("Images/bg1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: contain;
}
.body_cntent span{
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */
    
    text-align: center;
    padding: 0 20px;
    color: #11D000;
}
.body_cntent h1{
    font-style: normal;
    font-weight: 700;
    font-size: 47px;
    line-height: 55px;
    text-align: center;
    max-width: 700px;
    color: #F1FAFF;
    
}
.service_content{
    width: fit-content;
    margin: 0 auto;
    text-align: center;
    margin-top: 2rem;
    align-items: center;
    justify-content: center;
    margin-bottom: 9rem;
}
.service_content > h2{
    font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 30px;
text-align: center;

color: #F1FAFF;
margin-bottom: 5rem;

}
.service_content .card_group{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}
.service_content .card_group .card{
    display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 15px;
border: 1px solid #11D000;
border-radius: 4px;
max-width: 290px;
width: 100%;
margin: 10px;
transition: 0.3s all;
}
.service_content .card_group .card h1{
    font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 28px;
text-align: center;
color: #11D000;
}
.service_content .card_group .card p{
    font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;

color: #F1FAFF;
text-align:left;
margin-top: 5px;
}
.service_content .card_group .card:hover {
background-color: #11be02;
}
.service_content .card_group .card:hover h1{
    color: #F1FAFF !important;
    }
    .service_content a{
        display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px;
gap: 10px;
width: fit-content;
margin: 0 auto;
text-decoration: none;
background: #0FB600;
border-radius: 4px;
margin-top: 2rem;
border: none;
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 16px;
text-align: center;
text-transform: capitalize;

color: #FFFFFF;
transition: 0.3s all;
    }
    .service_content a:hover{
        color: #0FB600 ;
        background-color: #030303;
border: 1px solid #11D000;

    }

    .contact_content{
        width: fit-content;
        margin: 0 auto;
        text-align: center;
        margin-top: 2rem;
        align-items: center;
        justify-content: center;
        margin-bottom: 9rem;
    }
    .contact_content .contact_info{
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: flex-start;
        gap: 20px;
        margin-bottom: 2rem;
        padding: 20px;
    }
    ._1_c3{
        background-color: black !important;
    }
    .contact_content .contact_info .line{
        display: flex;
        align-items: center;
    }
    .contact_content .contact_info .line > h2{
        font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 21px;
/* identical to box height */

text-align: center;

color: #11D000;
margin-left: 15px;

    }
    .contact_content > h2{
        font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 30px;
    text-align: center;
    
    color: #F1FAFF;
    margin-bottom: 5rem;
    
    }
  
    .footer > h2{
        font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 30px;
    text-align: center;
    
    color: #F1FAFF;
    margin-bottom: 5rem;
    
    }
    @media screen and (max-width:614px){
        .header div> span{
            font-size: 14px;
        }
        .header div> h1{
            font-size: 32px;
        }
.body_cntent span{
    font-size: 14px;
    line-height: 1.4;
}
.body_cntent h1{
    font-size: 28px;
    line-height: 1.4;

}
.body_cntent{
    margin-top: 60px;
    width: 100%;
    height: 70vh;
    background-image: url("bg1.png");
    background-size: 730px;

}
        
.title{
    font-size: 22px !important;
}
    }
